body {
    background:#dfdfdf;
}

p {
    color:#222222;
}

.picture-profile {
    width: 150px;
     
    
    /* border: 5px double #ffffff; */
     /*
     essa forma resume três funções em apenas uma (OBS: a ordem é importante), outra maneira de realizar a mesma função seria:

     border-width: 5px
     boder-style: double
     boder-color: #ffffff
     */

     border-top: solid;
     border-right: dotted;
     border-left: double;
     border-bottom: dashed;
     border-width: 5px 7px 2px 10px;
     border-color: #fa0808;
     border-radius: 0% 0% 50% 0%;
     margin: 30px 50%;
     padding: 10px;
     box-shadow: 0px 0px 10px rgb(141, 65, 65);
     /*
     1º parâmetro: distância da sombra na horizontal
     2º parâmetro: distância da sombra na vertical
     3º parâmetro: desfoque da sombra
     4º parâmetro: cor
     */

     /* O margin é uma margem externa e o padding é uma interna */

}
